*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.absolute{
    position: absolute;
}

body, html{
    height: 250px;
    width: 300px;
    background-image: url("img/bg1.jpg");
    background-size: 300px 250px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}


.slide_1{
    height: 250px;
    width: 300px;
    background-color: transparent;
    top: 0px;
    left: 0px;
}


#buttons{
    height: 125px;
    width: 130px;
    background-color: transparent;
    top: 60px;
    left: 95px;
}

#play{
    height: 125px;
    width: 130px;
    background-image: url("img/play.png");
    background-size: 130px 125px;
    background-repeat: no-repeat;
}


#reels{
    height: 125px;
    width: 270px;
    background-image: url("img/reels.png");
    background-size: 270px 125px;
    background-repeat: no-repeat;
    left: 15px;
    top: 120px;
    padding-left: 17px;
}

#container #reels canvas
{
    width: 76px;
    height: 300px;
    position: relative;
    background: white;
    border: 2px solid gold;
}


#container #overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.3;
    background-image: -moz-linear-gradient(#555,#fff,#fff,#555);
    background-image: -webkit-gradient(linear, 0 25%, 0 100%, from(grey), color-stop(0.5, white), to(grey));
    display: none;
}
#container #overlay #winline
{
    width: 100%;
    height: 5px;
    background: red;
    position: relative;
    top: 50%;
}
#results
{
    display: none;
    background: white;
    border: 3px solid gold;
    height: 125px;
    width: 245px;
    left: 28px;
    top: 120px;
    position: absolute;
    font-size: x-large;
}

#results #score {
    padding: 5px 0px 0px 10px;
}

#results #score img {
    vertical-align: middle;
}


#status{
    top: 50px;
    left: 130px;
    font-size: 18px;
}
